<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/insertProduct.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <input type="text" name="studentid" id="student" placeholder="student" />
    <input type="text" name="product" id="product" placeholder="product" />
    <input type="text" name="boardno" id="boardno" placeholder="boardno" />

    <button class="insert">click me</button>
  </body>
</html>
